.storybook-button {
  font-family: 'Popins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  letter-spacing: 1px;
  font-size: var(--font-size-btn);
}

.storybook-button--primary {
  color:var(--color-white);
  background-color: var(--color-primary);
}

.storybook-button--primary:hover{
  background-color: var(--color-primary-faded);
  color: var(--color-primary);
  transition: all;
  animation: color ;
}

.storybook-button--secondary {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background-color: var(--color-secondary);
}
.storybook-button--sm {
  padding: 7px 14px;
}
.storybook-button--md {
  padding: 10px 14px;
}
.storybook-button--lg {
  padding: 12px 22px;
}
